{% extends "base.html" %}

{% block title %}MyForm{% endblock %}

{% block content %}
  <h2>My SQLiteDB</h2>
  <br>

  <!-- Загрузка файлов -->
  <h4>Upload your seg files</h4>
  <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" type=submit>Upload</button>
      <input type=file name=file class="form-control" id="formFile" style="max-width: 400px">
    </div>
  </form>

  {% if not upload_message %}
  <p>Please, select your seg-files</p>
  {% endif %}

  {% if upload_message %}
  <p>{{ upload_message }}</p>
  {% endif %}

  <!-- <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form> -->
    
  <br>

  <!-- Кнопки управления буфером -->
  <h4>Current buffer includes:</h4>
    <p>{{ filenames }}</p>
    <form action="{{ url_for('handle_actions') }}" method="post">
      <button type="submit" name="action" value="add" class="btn btn-primary btn-sm">Add to DB</button>
      <button type="submit" name="action" value="erasefiles" class="btn btn-secondary btn-sm">Erase files</button>
      <button type="submit" name="action" value="erasedb" class="btn btn-primary btn-sm">Erase DB</button>
    </form>
  <br>

  <!-- Отображение датабазы -->
  {% if DBmessage %}<p>{{ DBmessage }}</p>{% endif %}
  <ul class="list-group" style="max-width: 400px">
    {% for sentence in sentences %}
      <li class="list-group-item">{{ sentence }}</li>
    {% endfor %}  
  </ul>  
{% endblock %}